<h1><%=@noun.english %></h1>

<p>
  <strong>Genative:</strong>
  <%= @noun.genative %>
</p>

<p>
  <strong>Nomative:</strong>
  <%= @noun.nomative %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @noun.gender %>
</p>
