// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

div#landscape {
   position:fixed;
   top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   z-index:1;
}

$earth-height : 20%;
$sky-height : 100% - $earth-height;
$sky-end-color : #66e0ff;

div#landscape div.sky {
   position: absolute;
   height: $sky-height;
   width: 100%;
   background: $sky-end-color;
   z-index: 2;
}

div#landscape div.with-sun {
   background: $sky-end-color;
   background: radial-gradient(at 34% 10%, #ffffff, $sky-end-color);
}

$earth-start-color : #009900;
$earth-end-color : #99ff99;

div#landscape div.earth {
   background: $earth-start-color;
   background: linear-gradient(to top, $earth-start-color, $earth-end-color);
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: $earth-height;
   z-index:3;
}

div.earth div.plant {
   position: absolute;
   z-index:5;
   margin: 0;
   padding: 0;
   spacing: 0;
}

div.earth div.plant div.branch {
   position: absolute;
   margin: 0;
   padding: 0;
}

div.earth div.plant p.word {
   position: absolute;
   display:inline-block;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
   margin: 0;
   padding: 0;
}

.waving {
   transform-origin: 0% 50%;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

.growing {
   transform-origin: 0% 50%;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: forwards;
}
